<div class="comics">
  <% @comics.each do |comic| %>
    <div class="comics-cover">
      <%= image_tag "#{comic.thumbnail.path}/portrait_uncanny.#{comic.thumbnail.extension}" %>
    </div>
  <% end %>
</div>
